.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/ConvertWordsToNumber
bin/Debug/netcoreapp3.1/ConvertWordsToNumber.deps.json
bin/Debug/netcoreapp3.1/ConvertWordsToNumber.pdb
bin/Debug/netcoreapp3.1/ConvertWordsToNumber.dll
bin/Debug/netcoreapp3.1/ConvertWordsToNumber.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ConvertWordsToNumber.runtimeconfig.json
obj/ConvertWordsToNumber.csproj.nuget.dgspec.json
obj/ConvertWordsToNumber.csproj.nuget.g.props
obj/ConvertWordsToNumber.csproj.nuget.g.targets
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/ConvertWordsToNumber
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.assets.cache
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.dll
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/ConvertWordsToNumber.pdb
obj/project.assets.json
